---
import Layout from "../layouts/Layout.astro";
import StickyNav from "../components/StickyNav.astro";
import Hero from "../components/Hero.astro";
import Services from "../components/Services.astro";
import TrustBar from "../components/TrustBar.astro";
import ServiceAreas from "../components/ServiceAreas.astro";
import ContactCTA from "../components/ContactCTA.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <StickyNav />
  <main>
    <Hero />
    <Services />
    <TrustBar />
    <ServiceAreas />
    <ContactCTA />
  </main>
  <Footer />
</Layout>
